@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>




<div class="text-center">
    <h2>Fazer loign</h2>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" asp-controller="Home" asp-action="FazerLogin">Fazer login</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="SouCliente" type="button">já sou cliente</a>
    </div>

</div>
