@{
    ViewData["Title"] = "Carrinho";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2>Carrinho de compra</h2>
</div>

<div>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Notebook Asus vivo book m15 
            <a class="btn btn-primary">Excluir</a>
        </li>
        
    </ol>
</div>

<div>
    <h2>Finalizar Comprar</h2>
    <h3 class="text-center">PIX</h3>
    
    <p class="text-center">Aponte a camera do seu celular no QR code para finalilzar a comprar</p>


    <div style="text-align: center;">
        <img src="~/img/qrcode.jpeg" class="a" alt="Descrição da imagem" />
    </div>

    <p>codigo: 00020101021126580014br.gov.bcb.pix0136c56f52df-b1b3-41a0-a606-5a8ab198f83e5204000053039865802BR5921GUSTAVO MATIAS RABELO6010ITAPORANGA62070503***6304EC6</p>

    <button type="button" class="btn btn-primary btn-lg">finalizar Comprar</button>
    

</div>

